@import url('GeneralSans-Medium.otf');
@import url('GeneralSans-Regular.otf');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "General Sans";
    

}

html,body{
    width: 100%;
    height: 100%;
    background-color: black;
}


#minicircle{
    position: absolute;
    z-index: 99999;
    border-radius: 50%;
    width: 0.625rem;
    height: 0.625rem;
    background-color: white;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.bounding{
    overflow: hidden;
    width: fit-content;
    font-family: "General Sans Medium";

}

h5{
    transform: translateY(100%);
    
}


#secondh1{
    transform: translateY(100%);
    transition-duration: -1s;
    font-family: 'Poppins', sans-serif;
    
}

.bounding .boundingelem{
    transform: translateY(100%);
}



#main{
    width: 100%;
    background-color: black;
}

#hero{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url("/Contact/bgimg.png");
    color: white;
}

#nav{
    width: 100%;
    padding: 1.25rem 2.5rem;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    
}

#nav a{
    color: white;
    text-decoration: none;
    font-size: 1.125rem;
}

#nav h4{
    cursor: pointer;
}

#heading{
    margin-top: 5.625rem;
}




#heading h1{
    margin-left: 1.875rem;
    line-height: 1;
    opacity: 0.6;
    font-size: 10vw;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
}

#heading #secondh1{
    margin-left: 14.375rem;
    font-family: 'Poppins', sans-serif;
}

.blocktext{
    width: fit-content;
    display: flex;
    align-items: end;
    flex-direction: column;
    overflow: hidden;
    
}

.blocktext h5{
    text-align: right !important;
    font-size: 0.9375rem;
}

#smallheadings{
    margin-top: 6.25rem;
    padding-right: 3.125rem;
    display: flex;
    flex-direction: column;
    align-items: end;
}



#smallheadings h5{
    text-align: right;
    margin-top: 0.5vw;
    font-size: 3vw;
    opacity: 0.6;
    padding-right: 2.5rem;
}

h5:hover{
    opacity: 1;
}

#herofooter{
    padding: 0 2vw;
    width: 100%;
    position: absolute;
    bottom: 3%;  
    text-align: center;
    justify-content: space-between;
    display: flex;
    padding-left: 6rem;
   
}

#social a{
    text-decoration: none;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    opacity: 0.6;
    margin-right: 1.563rem;
}

#social a:hover{
    opacity: 1;

}

#herofooter #iconset{
    display: flex;
    gap: 1.1rem;
    cursor: pointer;
    
}

#herofooter .circle{
    width: 1.563rem;
    height: 1.563rem;
    border-radius: 50%;
    background-color: #888;
    display: flex;
    align-items: center;
    justify-content: center;

}

#second{
    width: 100%;
    height: 100vh;
    background-color: black;
    padding-top: 12.5rem;
    padding-right: 10vw;
    color: white;
}

.elem{
    position: relative;
    width: 100%;
    padding: 3.5vw 3vw;
    padding-right: 0;
    border-top: 0.063rem solid #888;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


.elem h1{
    font-size: 7.6vw;
    opacity: 0.7;
    cursor: pointer;
}



.elem h1:hover{
    opacity: 1;
}

.elemlast{
    border-bottom: 0.063rem solid #888;
}

.elem img{
    height: 140%;
    opacity: 0;
    z-index: 999;
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%);

}

#about{
    margin-top: 16rem;
    width: 100%;
    background-color: black;
    padding: 10vw 10vw;
    padding-left: 40vw;
    color: #fff;
    display: flex;
    
    align-items: center;
    gap: 6.125rem;

}

#about img{
    border-radius: 0.625rem;
}

#about img:hover{
    border: 2px solid rgba(255,255,255,0.7);
    
}

#textabout{
    width: 25rem;
}

#textabout h5{
    opacity: 0.6;
    margin-bottom: 0.625rem;
}

#subscribe h3{
    cursor: pointer;
}

#textabout p{
    line-height: 1.7;
    margin-bottom: 1.875rem;
    font-size: 1.25rem;
}

#textabout a{
    padding: 0.75rem  1.375rem;
    border: 0.063rem solid white;
    border-radius: 6.25rem;
    color: white;
    text-decoration: none;
    font-size: 0.75rem;
    font-size: 1rem;
}

#textabout a:hover{
    font-weight: bolder;
    color: black;
    background-color: #fff;
    
    
}

#about img{
    width: 12.5rem;
}


#weapons{
    justify-content: center;
    display: flex;
    
}

.wtext{
    color: white;
    align-items: center;
    cursor: pointer;
    opacity: 0.6;
}

.wtext:hover{
    opacity: 1;
}

.wicons{
    display: flex;
    align-items: center;
    gap: 0.25rem;
    justify-content: space-evenly;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.light:hover{
    opacity: 1;
}

.a{
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(c.png);
    background-size: cover;
    opacity: 0.6;
}



.b{
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(c+.png);
    background-size: cover;
    opacity: 0.6;
}

.c{
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(java.png);
    background-size: cover;
    opacity: 0.6;
}

.d{
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(html.png);
    background-size: cover;
    opacity: 0.6;
}

.e{
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(css.png);
    background-size: cover;
    opacity: 0.6;
}

.f{
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(js.png);
    background-size: cover;
    opacity: 0.6;
}

.g{
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(node.png);
    background-size: cover;
    opacity: 0.6;
}

.h{
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(tailwind-css-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.6;
    margin-top: 1.5rem;
}

.i{
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(vsc.png);
    background-size: cover;
    opacity: 0.6;
}


#subscribe{
    background-color: black;
    color: white;
    padding: 1.125rem 1.875rem ;
    padding-bottom: 7vw;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

#subscribe h5{
    opacity: 0.6;

}

#subscribe h3{
    font-size: 0.875rem;
    margin-top: 0.625rem;

}


#footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 1.875rem ;
    background-color: black;
    color: white;
}

#footerleft{
    display: flex;
    gap: 1.2rem;
}

#footerleft h5{
    opacity: 0.6;
}

#footerright{
    display: flex;
    gap: 1.2rem;
    
}

#footerright a{
    font-size: 0.875rem;
    font-weight: 500;
    color: white;
    text-decoration: none;
    opacity: 0.6;
    display: flex;
    align-items: center;
    margin-right: 2.8rem;
    
}


#footerright a:hover{
    opacity: 1; 
}

.circle:hover{
    
    color: black;
    transform: translate3d(100%);
} 


.eff{
    position: relative;
}

.eff::before{
    content: "";
    background-color: #ffffff;
    position: absolute;
    left: 0;
    bottom: -0.3rem;
    height: 0.044rem;
    width: 0;
    transition: 0.2s ease-in-out;

}

.eff:hover::before{
    content: "";
    background-color: #ffffff;
    position: absolute;
    left: 100;
    bottom: -0.3rem;
    height: 0.044rem;
    width: 100%;
}

#resume{
    color: white;
    opacity: 0.6;
    padding-left: 2.5rem;
    cursor: pointer;
    margin-bottom: 6rem;
    margin-left: 6rem;
    position: relative;
    left: 37%;
    font-weight: 900;
    
}
#resume a{
    text-decoration: none;
    color :white;
    

}

#resume:hover{
    opacity: 1;
}

#preloader{
    background: black url(loader.gif) no-repeat center center;
    background-size: 80%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}